{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор</h1>
<p>
  Меня зовут Вера, я учусь программировать и мне это нравится :)
  Конечно, я ещё не профи, но, думаю, всё впереди!
  Меня переполняет гордость за свои достижения, любая решённая задача или удачный запуск страниц проекта 
  доставляют мне огромную радость. 
  Мне помогает собачка по имени Джесси (к сожалению, она не моя, а соседская. Но мы видемся часто, так что я считаю её отчасти своей).
  Я не умею отвлекаться, если уж села за учёбу, то надо доделать то, что начала. 
  А Джесси дёргает меня когда я погружаюсь в поиски ошибок в коде, она словно чувствует моё напряжение и зовёт передохнуть.
  Полчаса игр с Джесси и всё снова получается, ошибки находятся, а код пишется :-)
</p>
{% load static %}
<nav class="navbar navbar-light" style="background-color: lightpink">
  <div class="container">
    <a class="navbar-brand" href="{% url 'posts:index' %}">
      <img src="{% static 'img/dog.png' %}" width="500" height="600" class="d-inline-block align-center" alt="">
      <span style="color:purple">собачка Джесси</span>
    </a>
  </div>
</nav> 
{% endblock %}